body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-login{
    width: 400px;
    margin: 0 auto;
}

.title{
    font-weight: 600;
    line-height: 1.125;
}

.initialBox{
    height: 400px;
    width: 800px;
    border: 1px solid;
    border: ridge;
    border-color: #fc6b0f;
    background-color: #dcdbdb;
}

.centralize{
    margin:auto;
    align-items: center;
    text-align:center;
}

.bgInitial{
    background-color: #e7e7e7;
}

.navbar-color{
    background-color: #222;
}

.label-btn{
    color: aliceblue;
}

.btn-customer{
    color: #000;
    background-color: #ffc199e0;
    border-color: #a8470a;
}
